# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
HelloIvana/.browserslistrc
HelloIvana/.browserslistrc
angular10/angular
HelloIvana/.browserslistrc
HelloIvana/.editorconfig
HelloIvana/angular.json
HelloIvana/e2e/protractor.conf.js
HelloIvana/e2e/src/app.e2e-spec.ts
HelloIvana/e2e/src/app.po.ts
HelloIvana/e2e/tsconfig.json
HelloIvana/karma.conf.js
HelloIvana/package-lock.json
HelloIvana/package.json
HelloIvana/README.md
HelloIvana/src/app/app-routing.module.ts
HelloIvana/src/app/app.component.css
HelloIvana/src/app/app.component.html
HelloIvana/src/app/app.component.spec.ts
HelloIvana/src/app/app.component.ts
HelloIvana/src/app/app.module.ts
HelloIvana/src/app/image/image1.jpg
HelloIvana/src/app/image/image11.jpg
HelloIvana/src/app/image/image2.jpg
HelloIvana/src/app/image/image3.jpg
HelloIvana/src/app/image/image5.jpg
HelloIvana/src/app/image/image6.jpg
HelloIvana/src/app/image/image7.jpg
HelloIvana/src/app/image/image8.jpg
HelloIvana/src/app/image/image9.jpg
HelloIvana/src/assets/.gitkeep
HelloIvana/src/environments/environment.prod.ts
HelloIvana/src/environments/environment.ts
HelloIvana/src/favicon.ico
HelloIvana/src/index.html
HelloIvana/src/main.ts
HelloIvana/src/polyfills.ts
HelloIvana/src/styles.css
HelloIvana/src/test.ts
HelloIvana/tsconfig.app.json
HelloIvana/tsconfig.json
HelloIvana/tsconfig.spec.json
HelloIvana/tslint.json
