<!DOCTYPE html>
<html>
<title> Hello from Serbia!  </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
   
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image"  src="image/image2.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 ">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Beograd jutro </div>
        <img src="image/image1.jpg" alt="House" style="width:100%">
          <a target="_blank" img href="../Srbija-Beograd/project.html">Klikni me</a> 
      </div>
    </div>
    <div class="w3-col l3 m6 ">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Skadarlija </div>
        <img src="image/image11.jpg" alt="House" style="width:100%">
      </div>
    </div>
  
  <div class="w3-col l3 m6 ">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> 
           <a target="_blank" href="../Srbija-Beograd/kalemegdan.html"> Kalemegdan </a> 
        </div>
        <img src="image/image3.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Srpska kuhinja </div>
        <img src="image/image7.jpg" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 ">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Beograd nocu </div>
        <img src="image/image5.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 ">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Sava i Dunav </div>
        <img src="image/image9.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 ">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Hram Svetog Save </div>
        <img src="image/image6.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 ">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Srbija </div>
        <img src="image/image8.jpg" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-30" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p> Ovde mozete pronaci sve informacije vezane za jedan od najstarijih gradova u Evropi, i pored Atine, najvecu urbanu celinu na Balkanu. 
<p>Nadamo se da cete uzivati uz nas i ukoliko imate neki predlog da budemo bolji, ili pitanje mozete nas kontaktirati u svakom trenutku putem kontakt forme.</p>
    </p>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container w3-center">
<iframe scrolling="no" width="100%" height="100%" src="http://mapa.in.rs/mapa.php?c=44.828534,20.445521&w=1400&h=100&tip=0&t="></iframe>

</div>
<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black  margin w3-padding-16  width="100%" text-align:center ">
  <p> Ivana Rankovic &#169 Zadrzana sva prava  <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green"></a></p>
</footer>

</body>
</html>
